name: Coverage
on:
  push:
    branches: master
  pull_request:
    branches: master
  workflow_dispatch:


jobs:
  build:
    name: Coverage Validation
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements-test.txt
    - name: Check code coverage
      run: |
        make coverage
    - name: Report Coveralls
      if: github.ref == 'refs/heads/master'
      uses: coverallsapp/github-action@v2
